
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #151515;
    height: 100vh;
    padding: 2px;

    }
    .scene{
        width: 100%;
        height: 100%;
        background-image: url(image/background.png);
        background-size: cover;
        position: relative;
        overflow: hidden;
    }
    .scene img{
        position: absolute;
    }
    .moon{
        bottom: -50px;
        right: -20px;
        width: 400px;
        animation:moonspin 0.5ms infinite linear;

    }

    .astronaut{
        top: 200px;
        right: 30px;
        width: 200px;
        animation: astronaut-move 10s forwards infinite;
    }

    .ships{
        top: 60px;
        left: 30%;
        width: 200px;
        transform: scale(0);
        animation:ship-move 10s forwards infinite;

    }

    .star{
        width:10%;
    top:0;
    left:15%;
    opacity: 0.9%;
    display: block;
        height: 100%;
        width: 400px;
        animation:star-move 20ms infinite linear;

    }

    .comet{
        top: 80px;
        left: -10%;
        /* transform: scale(10); */
        animation:comet-move 1s forwards infinite;
    }

    @keyframes star-move{
        to{
            opacity: 5%;
transition: opacity 1s ease-in-out;
filter: hue-rotate(180deg);
        }
    }

    @keyframes comet-move{
        25%{
            transform: scale(1) translate(-150px,200px);
        }
        50%{
            transform: scale(10) translate(350px,500px);
        }
        100%{
            transform: scale(8) translate(500px,-500px);
        }
    }


    @keyframes ship-move{
        25%{
            transform: scale(0.5) translate(-150px,200px);
        }
        50%{
            transform: scale(1) translate(-250px,300px);
        }
        100%{
            transform: scale(5) translate(250px,300px);
        }
    }

    @keyframes astronaut-move{
        to{
            transform: 
            translate(-300px,-150px)
            rotate(360deg);
        }
    }

    @keyframes moonspin{
        to{
            transform: rotate(180deg)
        }
    }