*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-image: url(images/about.png);
    background-size:auto;
    box-sizing: border-box;
    /* padding: 5px;
    margin: 5px; */
    display: flex;
    /* height: 50vw;
    width: 50%; */
    /* background-position: center; */
    justify-content:flex-start;
    align-items:baseline;
    background-repeat: no-repeat;
    margin: auto;
}
.container{
    display: flex;
    flex-direction:row-reverse;
}


#menue-png{
    width: 80px;
    top: 0;
    right: 0;
    position: absolute;
    cursor:pointer;
}

.social-icons{
    /* width:px; */
    left: 1%;
    position:fixed;
    bottom: 30%;

    max-width: 0.5px;
}

.heading{
    height: 20vh;
    /* margin-left: 80%;s */
    /* width: 100rem; */
    font-size: 1.5rem;
    display: flex;
    justify-content:end;
    align-items: self-end;
    position:inherit;
    width: 130rem;
    
}

.page{
/* justify-content:flex-end; */
/* align-items: center; */
/* margin: 50px; */
padding: 5px;
    width:800px;
    /* height: 90vh; */
    /* margin-left: 50%; */
    margin-top: 20%;
    text-align: justify;
    position: absolute;
}
 /* .read-more{
    text-decoration: none;
    padding: 20px 30px;
    margin-top: 50px;
    display: inline-block;
    border: 2px solid #f67c92;
    border-radius: 5px;
    color: black;
    font-weight: bold;
}  */

.square{
    /* margin: 1px; */
    /* padding: 1%; */
 height: 15px;
  width: 15px;
  background-color: #f67c92;
  margin-bottom: 12px;
  float: right;
}
.hrlogo{
    direction: rtl;
    margin-top: 30px;
}
.hrlogo-one{
border: none;
background-color: #f67c92;
height: 2px;
max-width: 100px;
}

.hrlogo-two{
    border: none;
background-color: #f67c92;
height: 2px;
max-width: 80px;
}

h2{
    /* display:contents; */
    font-size: 1em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-style: italic;
    margin-top: 10px;
}
span{
    font-size: 10px;
}


 /* nav{
    display: flex;
    flex-direction:row;
    align-items:flex-end;
    justify-content:flex-end;
    width: 100%;
    height: 2;
    font-size: 20px;
    margin: 10px 0;
    letter-spacing: 2px;
    
}
nav ul{
display: flex;
flex-direction: column-reverse;
align-self:center;
list-style: none;
}
 nav li{
padding:  5v;
}
span{
color: white;
}
span:hover{
border: 2px solid green;
background-color: purple;
color: lime;
border-radius: 20px;
text-decoration: none;
}


/*----about----*/
.about{

}


/

/*---courses---*/

.corses{

}

/*---contact---*/


.contact{

}

/*----footer----*/


.footer{

}

/*---social-icons---*/

.social-icons{

} */

@media only screen and (max-width: 770px){
    }














 */
